.page-arsenal{
    background-color: rgb(236, 232, 225);
    background-image: url('/images/bg-arsenal.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.arsenal__center{
    font-family: var(--font-tun);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-arsenal{
    margin-top: 200px;
}

.title-arsenal{
    font-size: 96px;
    line-height: 100px;
    font-width: 400;
    color: #0F1923;

    @media (max-width: 800px) {
        font-size: 76px;
    }
}

#arsenal{
    display: grid;
    grid-template-columns: repeat(4, 352px);
    gap: 30px;
    margin-top: 150px;

    @media (max-width: 1500px) {
        grid-template-columns: repeat(3, 352px);
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 352px);
    }

    @media (max-width: 800px) {
        //grid-template-columns: repeat(1, 352px); // 2
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }

    //@media (max-width: 420px) {
    //    //grid-template-columns: repeat(1, 150px); // 2
    //    //grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    //}
}







.main__cards__arsenal1{
    background-color: rgb(237, 230, 205);
    position: relative;
    overflow: hidden;
    height: 300px;
    //width: 355px;
    width: 100%;
    max-width: 355px;
}

.main__cards-arsenal2{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transform: scale(0.9);
    transition: all .2s ease-in-out;

    @media (max-width: 800px) {
        transform: scale(1);
    }

    &:hover{
        transform: scale(1);
    }

    //@media (max-width: 500px) {
    //    transform: scale(1.3) rotate(70deg);
    //    &:hover{
    //        transform: scale(1.4);
    //    }
    //}
}

.main__cards-bottom-arsenal{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--text-cream);
    z-index: 100;

    @media (max-width: 800px) {
        height: 30px;
    }

    p{
        font-family: var(--font-din);
        font-size: 22px;
        text-transform: uppercase;
        color: rgb(15, 25, 35);
        line-height: 32px;
        letter-spacing: 0.28px;
        font-weight: bold;
        text-align: left;
        padding: 16px;

        @media (max-width: 800px) {
            font-size: 20px;
            padding: 3px;
        }
    }
}
