@use "../helpers" as *;

.header__footer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}






.header__footer-video{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border: none;
}

.header__footer-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.header__footer-content-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    z-index: 1;
}

.content-text-top{
    @include fluid-text(18, 16)
}

.content-button{
    position: relative;
    border: 1px solid white;
    width: rem(190);
    height: rem(71);
    max-width: rem(190);
    padding: rem(3);

    button{
        @include fluid-text(18, 16);
        line-height: rem(28);
        color: var(--text-cream);
        width: 100%;
        height: 100%;
        background: var(--red-light);
        font-weight: 400;
        transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
        &:hover{
            background: var(--text-cream);
            color: black;
        }
    }
}
