.page-white{
    background-color: var(--text-cream);
}

.block__maps-top{
    margin-top: 150px;
    color: rgb(15, 25, 35);
}

.block__maps-title{
    font-size: 96px;
    text-transform: uppercase;
}

.block__maps-text1{
    font-family: var(--font-tun);
    font-size: 48px;
    font-weight: 800;
    margin-top: 150px;
    text-transform: uppercase;
}

.block__maps-text2{
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.152;
    font-weight: 800;
}
