.page-white {
    background-color: var(--text-cream);
    background-image: url("/images/bg-maps-val.avif");
    //background-repeat: no-repeat;
    position: relative;
    height: 100%;
}

.block__maps-top{
    margin-top: 150px;
    color: rgb(15, 25, 35);
}

.block__maps-title{
    font-size: 96px;
    text-transform: uppercase;
}

.block__maps-text1{
    font-family: var(--font-tun);
    font-size: 48px;
    font-weight: 800;
    margin-top: 150px;
    text-transform: uppercase;
}

.block__maps-text2{
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.152;
    font-weight: 800;
}

// Slider



.block__maps-bottom{
    margin-top: 100px;
}


.swiper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    //height: 80%;
    //width: 100%;
    height: 846px;
    //height: 100%;
    //width: 1000px;
    width: 100%;
    max-width: 1000px;
}

.mySwiper {
    //height: 20%;
    width: 100%;
    max-width: 1400px;
    height: 130px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
    margin-top: 40px;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slider__top {
    background-color: rgb(192, 190, 186); /* серый фон */
    //padding: 60px 0;           /* чтобы сверху и снизу было красиво */
    display: flex;
    justify-content: center;

    height: 846px; /* <-- как .mySwiper2 */
    max-width: 1504px; /* <-- сделать поуже */
    margin: 0 auto;
    overflow: hidden;

    padding-top: 1px;
}

.swiper-pagination{
    margin-top: 1650px;
    max-width: 1300px;
}
