body {
  font-family: var(--font-din);
  font-size: 16px;
  font-width: 400;
  line-height: 28px;
  color: var(--dark-bg);
  background-color: var(--bg-body-dark);

  &.lock{
    overflow: hidden;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-tun);
  color: var(--dark-bg);
}

.container-header{
  max-width: 1836px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-main{
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 16px;
}

