@use "helpers" as *;

.container-header {
  max-width: calc(var(--container-width-header) + var(--container-padding-header-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-header-x);
}

.container-main {
  max-width: calc(var(--container-width-main) + var(--container-padding-main-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-main-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
