@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "FF Mark W05";
  src: url("../fonts/Mark-W05-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DINNextW1G";
  src: url("../fonts/DINNextW1G-Italic.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
:root {
  /* Акцентные (красные/розовые) */
  --red-accent: #fa4454; /* основной акцент */
  --red-light: #ff4655; /* кнопки, ховеры */
  --red-pink: #fd3a5c; /* розовато-красный */
  /* Тёмные фоны */
  --dark-bg: #0f1923; /* основной фон */
  --dark-card: #1a242d; /* карточки, секции */
  --dark-divider: #2a3a4b; /* разделители */
  --header-bg: 111;
  /* Светлые тексты */
  --text-white: #ffffff; /* основной текст */
  --text-cream: #ece8e1; /* второстепенный текст */
  --text-gray: #b8b8b8; /* неактивные элементы */
  --color-links: #f9f9f9;
  /* Дополнительные */
  --dark-footer: #0a141e; /* футер */
  --gray-blue: #4a5c6a; /* тонкие линии */
  --bg-body-dark: #1a242e;
  /* Градиенты */
  --gradient-red-purple: linear-gradient(90deg, var(--val-red-light) 0%, #bc4582 100%);
  /* Шрифты */
  --font-mark: "FF Mark W05", Arial, sans-serif;
  --font-din: "DINNextW1G", Arial, sans-serif;
  --font-tun: "Tungsten", Arial, sans-serif;
  /*Контейнер*/
  --container-width-header: 115.75rem;
  --container-width-main: 94rem;
  --container-padding-header-x: 1.25rem;
  --container-padding-main-x: 1.5rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width-header: 84rem;
    --container-width-main: 85.75rem;
  }
}

:root {
  --dark-color: #121418;
  --dark-var-1-color: #222933;
  --dark-var-2-color: #292f37;
  --dark-var-3-color: #8694a6;
  --dark-var-4-color: #9dadc1;
  --green-color: #01c29a;
  --dark-green-color: #0ca385;
  --yellowish-color: #f2e9d0;
  --dark-yellowish-color: #d4ccb6;
  --white-color: #fff;
  --red-color: #ff0000;
  --gradient: linear-gradient(45deg, var(--green-color), var(--red-color));
}

.container-header {
  max-width: calc(var(--container-width-header) + var(--container-padding-header-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-header-x);
}

.container-main {
  max-width: calc(var(--container-width-main) + var(--container-padding-main-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-main-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(1rem, 0.9754672897rem + 0.1246105919vw, 1.125rem);
  font-family: var(--font-din);
  font-width: 400;
  line-height: 28px;
  color: var(--dark-bg);
  background-color: var(--bg-body-dark);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-tun);
  color: var(--dark-bg);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  font-family: var(--font-mark);
  color: var(--color-links);
  cursor: pointer;
}

:focus-visible {
  outline: 0.125rem dashed var(--text-gray);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header__top {
  background-color: #111;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  height: 5rem;
  width: 100%;
}

.header__top-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding-top: 1.25rem;
}

.header__top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.4375rem;
}

.header__top-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.header__top-menu-links {
  column-gap: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-menu-links li a {
  font-size: 0.8125rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.08em;
}

.search-input {
  all: unset;
  width: 2.5rem;
  height: 2rem;
  position: relative;
  background-color: #2b2a29;
  border-radius: 0.625rem;
  transition: width 0.5s ease-in-out;
  padding-left: 0.625rem;
}

.search-input.active-input {
  width: 6.25rem;
}

.search-button {
  position: absolute;
  padding: 5px 0 0 7px;
  z-index: 1;
  background: none;
}

.header__top-menu-form {
  display: flex;
  column-gap: 1rem;
}

.button-play {
  font-size: clamp(1rem, 1.0367990654rem + -0.1869158879vw, 0.8125rem);
  width: 7rem;
  height: 2rem;
  border-radius: 0.625rem;
  color: var(--header-bg);
  font-weight: 600;
  background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
}

/*# sourceMappingURL=main.css.map */
